.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-left: 620px;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  margin-top: 100px;
}

.button:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}




body {


       width: 100%;
       margin: 0;
       background-color: black ;


  }



th {
  border: 1px solid black;
  padding: 5px;
}

table tr td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

 .header {
   border-radius: 25px;
   width: 100%;
 }

 .nav{
   position: absolute;
   background-color:#3c9cd2;
   width: 100%;
   border: 5px solid grey;
   padding: 0;
   margin: 0;
   height: 80px;
 }

 .navbar {
     overflow: hidden;
     background-color: #333;
     font-family: lobster;

 }

 .navbar a {
     float: left;
     font-size: 16px;
     color: white;
     text-align: center;
     padding: 14px 16px;

     text-decoration: none;
 }

 .dropdown {
     float: left;
     overflow: hidden;
 }

 .dropdown .dropbtn {
     font-size: 16px;
     border: none;
     outline: none;
     color: white;
     padding: 14px 16px;
     background-color: inherit;
     font: inherit;
     margin: 0;
 }

 .navbar a:hover, .dropdown:hover .dropbtn {
     background-color: #6591d8;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     border-top-left-radius:15px;
     border-bottom-left-radius:15px;
     border-top-right-radius:15px;
     border-bottom-right-radius:15px;
 }

 .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

 .dropdown-content a:hover {
     background-color: #ddd;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .merchants {
   border-top-left-radius:15px;
   border-bottom-left-radius:15px;
   border-top-right-radius:15px;
   border-bottom-right-radius:15px;
   font: italic bold 16px/30px Georgia, serif;
   bottom: 8px;
   border-color: coral;
   background: linear-gradient(to right, #669999 , #fff0b3);
    display:inline-block;
   margin: 50px;
 }

 .analytics {
   text-align: center;
   padding: 20px;
   padding-bottom: 0;
 }

 .categories-span {
   text-align: center;
 }

 .categories {
   border-top-left-radius:15px;
   border-bottom-left-radius:15px;
   border-top-right-radius:15px;
   border-bottom-right-radius:15px;
   font: italic bold 16px/30px Georgia, serif;
   bottom: 8px;
   border-color: coral;
   background: linear-gradient(to right, #669999 , #fff0b3);
   display:inline-block;
   margin: 50px;
   padding: 20px;
   text-align: center;
 }

 .new{
   border-top-left-radius:15px;
   border-bottom-left-radius:15px;
   border-top-right-radius:15px;
   border-bottom-right-radius:15px;
   background-color: #669999;
   font: italic bold 16px/30px Georgia, serif;
   text-align: center;
   height: 250px;
 }
.buttons {
  color: #ffd11a;
}

.edit {
  background-color: white;
}

.wrapper {
  margin-top: 250px;
}

.bot {
  margin-top: 100px;

}
